# Prerequisites
*.d
gtest/
*.tar.gz

# Runtime files.
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj
build

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS and Editor Files
.vscode/
*.dSYM/
